#root {
  margin: 0;
}

.header{
    background-color: antiquewhite;
}
.outerContainer{
  display: flex;
  flex-direction: column;
  row-gap: .2rem;
}

a{
  text-decoration: none;
}
.detailPage{
  display: flex;
  justify-content: flex-start;
  overflow:auto;
  height:82.3vh;
  padding-top: 1rem;
}
.imagePage{
  background-position: center;
  background-size: cover;
}
.headerIcon{
  height: 2rem;
}
.img-1{
  display: flex;
  align-items: center;
}
.css-8728zd-MuiPaper-root-MuiCard-root{
  height: auto !important;
}
.list{
  width: 300px !important;
}
.flexGroup{
  display: flex;
  align-items: center;
}
.spaceBetween{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
.columnGap{
  column-gap: 10px;
}
.float{
  position:absolute;
  right: .6rem;
  top: 2.1rem;
}
.column{
  flex-direction: column;
}
.searchContainer{
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width:500px) {
  .bordHandler{
    justify-content: center;
  }
  .detailPage{
    flex-direction: column;
    align-items: center;
    overflow:initial;
    overflow-y:auto;
    row-gap: 1rem;
  }

}